<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tam Todo List</title>
    <!-- bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
    <!-- Dubai Font -->
    <link href="~/Content/dubai-font.css" rel="stylesheet" />
    <!-- Animate Css -->
    <link href="~/Content/animate.css" rel="stylesheet" />
    <!-- Main Site Css -->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="topbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar sidebar-menu-closed-icon hidden"></span>
                <span class="icon-bar sidebar-menu-closed-icon hidden"></span>
                <span class="icon-bar sidebar-menu-closed-icon hidden"></span>
                <span class="glyphicon glyphicon-remove sidebar-menu-opened-icon"></span>
            </button>
            @*<div class="navbar-brand"><img class="site-logo animated" data-animated="zoomIn" src="~/Images/logo.png" /></div>*@
        </div>
    </div>

    <aside>

        <!-- Sidebar -->
        <div id="Sidebar" class="sidebar">
            <!-- Site Logo -->
            <div id="SiteLogo" class="site-logo-div">
                <img class="site-logo animated" data-animated="zoomIn" src="~/Images/logo.png" />
                <span class="toggle-sidebar">
                    <img class="sidebar-toggle-icon svg-img svg-white" src="~/Images/icon-close.svg" />
                </span>
            </div>
            <!-- / Site Logo -->

            <nav>
                <!-- Sidebar Menu -->
                <ul id="Menu" class="sidebar-menu list-unstyled">
                    <!-- Sidebar Item -->
                    <li class="sidebar-menu-item active">
                        <a href="#">
                            <img class="svg-img svg-white sidebar-menu-item-icon" src="~/Images/icon-list.svg" />
                            <span class="sidebar-menu-item-desc">المهام</span>
                            <img class="svg-img svg-white sidebar-menu-item-active-icon" src="~/Images/icon-arrow-left.svg" />
                        </a>
                    </li>
                    <!-- / Sidebar Item -->

                    <!-- Sidebar Item -->
                    <li class="sidebar-menu-item">
                        <a href="#">
                            <img class="svg-img svg-white sidebar-menu-item-icon" src="~/Images/icon-user.svg" />
                            <span class="sidebar-menu-item-desc">الأعضاء</span>
                            <img class="svg-img svg-white sidebar-menu-item-active-icon" src="~/Images/icon-arrow-left.svg" />
                        </a>
                    </li>
                    <!-- / Sidebar Item -->

                    <!-- Sidebar Item -->
                    <li class="sidebar-menu-item">
                        <a href="#">
                            <img class="svg-img svg-white sidebar-menu-item-icon" src="~/Images/icon-creditcard.svg" />
                            <span class="sidebar-menu-item-desc">الدفع والفواتير</span>
                            <img class="svg-img svg-white sidebar-menu-item-active-icon" src="~/Images/icon-arrow-left.svg" />
                        </a>
                    </li>
                    <!-- / Sidebar Item -->
                    
                    <!-- Sidebar Item -->
                    <li class="sidebar-menu-item">
                        <a href="#">
                            <img class="svg-img svg-white sidebar-menu-item-icon" src="~/Images/icon-settings.svg" />
                            <span class="sidebar-menu-item-desc">إعدادات</span>
                            <img class="svg-img svg-white sidebar-menu-item-active-icon" src="~/Images/icon-arrow-left.svg" />
                        </a>
                    </li>
                    <!-- / Sidebar Item -->
                </ul>
                <!-- / Sidebar Menu -->
            </nav>

            <!-- User Info -->
            <div class="sidebar-user-info">
                <img class="sidebar-avatar-icon" src="~/Images/avatar.png" />
                <ul class="sidebar-user-info-list list-unstyled">
                    <li class="sidebar-user-name">محمد عبدالله</li>
                    <li class="sidebar-user-company">الشركة المحدودة</li>
                </ul>
                <img class="svg-img sidebar-user-caret" src="~/Images/icon-arrow-down-small.png" />
            </div>
            <!-- / User Info -->

        </div>
        <!-- / Site Logo -->

    </aside>

    <main>
        <!-- Mian Content -->
        <div class="main-content">
            @RenderBody()
        </div>
        <!-- / Mian Content -->
    </main>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <!-- Main Script -->
    <script src="~/Scripts/main.js"></script>
</body>
</html>