
@{
    ViewBag.Title = "Home Page";
}

<div class="main-group">
    <h1 class="main-group-title animated" data-animated="fadeInUp">التصميم:</h1>
    <div class="panel animated" data-animated="fadeInUp">
        <div class="panel-body todo-container">
            <!-- Todo List -->
            <ul class="todo-list list-unstyled">
                <!-- Todo List Item -->
                <li class="todo-list-item done animated" data-animated="fadeInUp">
                    <a class="todo-list-item-link" href="#">
                        <img class="todo-list-item-icon" src="~/Images/icon-check.svg" />
                        <span class="todo-list-item-text">تصميم الشكل العام وتجهيز المهام وتسليمه</span>
                    </a>
                </li>
                <!-- / Todo List Item -->

                <!-- Todo List Item -->
                <li class="todo-list-item">
                    <a class="todo-list-item-link" href="#">
                        <img class="todo-list-item-icon" src="~/Images/icon-uncheck.svg" />
                        <span class="todo-list-item-text">تحويل التصميم إلى HTML + CSS</span>
                    </a>
                </li>
                <!-- / Todo List Item -->

                <!-- Todo List Item -->
                <li class="todo-list-item">
                    <a class="todo-list-item-link" href="#">
                        <img class="todo-list-item-icon" src="~/Images/icon-uncheck.svg" />
                        <span class="todo-list-item-text">جعل التصميم متجاوب مع المتصفحات الصغيرة (Responsive)</span>
                    </a>
                </li>
                <!-- / Todo List Item -->

                <!-- Todo List Item -->
                <li class="todo-list-item">
                    <a class="todo-list-item-link" href="#">
                        <img class="todo-list-item-icon" src="~/Images/icon-uncheck.svg" />
                        <span class="todo-list-item-text">جعل التصميم متوافق كحد أدنى مع IE9</span>
                    </a>
                </li>
                <!-- / Todo List Item -->

                <!-- Todo List Item -->
                <li class="todo-list-item">
                    <a class="todo-list-item-link" href="#">
                        <img class="todo-list-item-icon" src="~/Images/icon-uncheck.svg" />
                        <span class="todo-list-item-text">استخدام SASS لجعل ألوان التصميم سهلة التغيير (Skin-able/Theme-able)</span>
                    </a>
                </li>
                <!-- / Todo List Item -->
            </ul>
            <!-- / Todo List -->
        </div>
    </div>
</div>

<div class="main-group">
    <h1 class="main-group-title animated" data-animated="fadeInUp">تحسينات:</h1>
    <div class="panel animated" data-animated="fadeInUp">
        <div class="panel-body todo-container">
            <!-- Todo List -->
            <ul class="todo-list list-unstyled">
                <!-- Todo List Item -->
                <li class="todo-list-item">
                    <a class="todo-list-item-link" href="#">
                        <img class="todo-list-item-icon" src="~/Images/icon-uncheck.svg" />
                        <span class="todo-list-item-text">إمكانية إخفاء القائمة الجانبية</span>
                    </a>
                </li>
                <!-- / Todo List Item -->

                <!-- Todo List Item -->
                <li class="todo-list-item">
                    <a class="todo-list-item-link" href="#">
                        <img class="todo-list-item-icon" src="~/Images/icon-uncheck.svg" />
                        <span class="todo-list-item-text">إمكانية تعليم المهام كمنتهية</span>
                    </a>
                </li>
                <!-- / Todo List Item -->

                <!-- Todo List Item -->
                <li class="todo-list-item">
                    <a class="todo-list-item-link" href="#">
                        <img class="todo-list-item-icon" src="~/Images/icon-uncheck.svg" />
                        <span class="todo-list-item-text">إمكانية إعادة ترتيب المهام والمجموعات</span>
                    </a>
                </li>
                <!-- / Todo List Item -->

                <!-- Todo List Item -->
                <li class="todo-list-item">
                    <a class="todo-list-item-link" href="#">
                        <img class="todo-list-item-icon" src="~/Images/icon-uncheck.svg" />
                        <span class="todo-list-item-text">التوافقية مع أجهزة اللمس</span>
                    </a>
                </li>
                <!-- / Todo List Item -->
            </ul>
            <!-- / Todo List -->
        </div>
    </div>
</div>

<div class="main-group">
    <h1 class="main-group-title animated" data-animated="fadeInUp">أخرى:</h1>
    <div class="panel animated" data-animated="fadeInUp">
        <div class="panel-body todo-container">
            <!-- Todo List -->
            <ul class="todo-list list-unstyled">
                <!-- Todo List Item -->
                <li class="todo-list-item">
                    <a class="todo-list-item-link" href="#">
                        <img class="todo-list-item-icon" src="~/Images/icon-uncheck.svg" />
                        <span class="todo-list-item-text">تسليم المشروع النهائي في git repository مع ملاحظة استخدام git-flow</span>
                    </a>
                </li>
                <!-- / Todo List Item -->

                <!-- Todo List Item -->
                <li class="todo-list-item">
                    <a class="todo-list-item-link" href="#">
                        <img class="todo-list-item-icon" src="~/Images/icon-uncheck.svg" />
                        <span class="todo-list-item-text">إضافة لمساتك الخاصة في الأماكن التي تراها مناسبة مع ذكر سبب إضافتها.</span>
                    </a>
                </li>
                <!-- / Todo List Item -->
            </ul>
            <!-- / Todo List -->
        </div>
    </div>
</div>
